*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: "Reddit Sans", sans-serif;    
}


header{
    background-color: #4156A0;
    position: sticky;
    
}
header a {
    text-decoration: none;
    color: #EFEFFF;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: right;
}
nav ul li{
    font-size: 20px;
    padding: 1%;
}
main{
    background-color: #eeecec;
    padding-bottom: 100px;
}
main p {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 22px;
    text-align: center;
}
main h1, h2{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
button{
    background-color: #5B5E6B;
    color: #f8f6f6;
    border: 2px solid #5B5E6B;
    border-radius: 10px; 
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;

}
#hero img{
    width: 100%;
}
#servicios{
    text-align: center;
}
.Carrusel{    
    max-height: 350px;
    display: inline-block;
}
.imag{
    display: flex;
    justify-content: center;
}
.imag img{
    width: 30%;
}

h1{
    text-align: center;
    font-size: 45px;
}
h2{
    text-align: left;
    font-size: 30px;
}

.container{
    margin: 0 auto;
    width: 90%;
    border: 2px solid #5B5E6B;
    border-radius: 10px; 
    background-color: #5269C0;
}

.container h2{
    text-align: center;
}
footer{
    background-color: #5B5E6B;
    color: #f8f6f6;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 10px;
    
}
#redes{
    position: fixed;
    bottom: 0px;
    right: 10px; 
}
